<h1 class="header_with_actions">Roles</h1>
<h3 class="actions"><%= link_to "New Role", new_role_path %></h3>
<div>
  <%= will_paginate(@roles) if respond_to?(:will_paginate) %>
  <table>
    <thead>
      <tr>
        <th><%= "Name" %></th>
      </tr>
    <thead>
    <tbody>
      <%- @roles.each do |role| %>
        <tr class="<%=cycle('odd', 'even')%>">
          <td><%= link_to h(role.name), role_path(role) %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>
  <%= will_paginate(@roles) if respond_to?(:will_paginate) %>
</div>
